---
title: Philippine Berton
---


<!-- home-me -->
<div class="container profil">
  <div class="bloc-me d-flex justify-content-center flex-column text-center">
    <span>Bonjour, je suis Philippine</span>
    <span>une développeuse web freelance</span>
    <span>vivant à Nancy / Paris.</span>
  </div>
</div>

<!-- skills -->



<!-- skills with grid -->
<div class="container d-flex justify-content-center" id="skills">
  <div class="row">

    <% data.skills.each do |skill| %>
      <div class="col-12 col-lg-4">
        <a href='<%= skill.id %>' class='skill-link'>
          <div class="skill text-center d-flex justify-content-center align-self-stretch flex-column">
            <img src= "<%= skill.img %>" alt="">
            <div class="skill-info">
              <h3><%= skill.name %></h3>
              <p><%= skill.text %></p>
            </div>
          </div>
        </a>
      </div>
    <% end %>

  </div>
</div>

<!-- projects -->
<% data.projects.each do |project| %>
  <div class="container" id='<%= project.id %>'>
    <div class="project-skill">
      <h1><%= project.skill %></h1>
    </div>

    <div class="bloc-project d-flex align-items-center">
      <div class="project d-flex align-items-stretch">
        <div class="project-content bg-white align-self-end">
          <div class="project-title">
            <h3><%= project.title %></h3>
          </div>
          <div class="project-info">
            <p><%= project.text %></p>
          </div>
        </div>
        <a href='<%= project.link %>' target="_blank">
          <img src='<%= project.img %>' alt="">
        </a>
      </div>
    </div>

  </div>
<% end %>

<!-- contact -->
<div class="bloc-contact d-flex align-items-center justify-content-center flex-column" id="contact">
  <div class="contact-message">
    <a href="mailto:phi.berton@hotmail.fr">
      <div class="message-front text-center">
        <p>Envoyez-moi un mail, appelez-moi ou</p>
        <p>allons prendre un café pour parler</p>
        <p>de votre projet.</p>
      </div>
    </a>
    <div class="message-back">
      <h1>Vous voulez</br>
      travailler</br>
      avec moi ?</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="contact d-flex align-items-center justify-content-between">
    <div class="contact-details">
      <p>Philippine Berton</p>
      <p>phi.berton@hotmail.fr</p>
      <p>+33 (0)6 81 48 49 93</p>
    </div>
    <div class="contact-link">
      <a href="https://github.com/Ceriiise"><i class="fab fa-github"></i></a>
      <a href="https://www.linkedin.com/in/philippineberton/"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
</div>

