---
title: Philippine Berton
---

<header>
  <h1><span class="yellow">Philippine B.</span></h1>
  <p>Conceptrice d'application web <span class="bolder px-2">|</span> intégratrice web <span class="bolder px-2">|</span> UX designer</p>
</header>

<!-- Gallery1 -->
<div class="items-container">
  <% data.projects.gallery1.each do |project| %>
    <%= partial('shared/gallery', :locals => { :project => project }) %>
  <% end %>
</div>
<% data.projects.gallery1.each do |project| %>
  <%= partial('shared/overlay', :locals => { :project => project }) %>
<% end %>

<!-- Gallery2 -->
<div class="items-container">
  <% data.projects.gallery2.each do |project| %>
    <%= partial('shared/gallery', :locals => { :project => project }) %>
  <% end %>
</div>
<% data.projects.gallery2.each do |project| %>
  <%= partial('shared/overlay', :locals => { :project => project }) %>
<% end %>

<!-- Gallery3 -->
<div class="items-container">
  <% data.projects.gallery3.each do |project| %>
    <%= partial('shared/gallery', :locals => { :project => project }) %>
  <% end %>
</div>
<% data.projects.gallery3.each do |project| %>
  <%= partial('shared/overlay', :locals => { :project => project }) %>
<% end %>

<div class="padding-section bg-light-gray">
  <h2><span class="dark-gray">outils.</span></h2>
  <div class="separator bg-yellow"></div>
  <div class="list">
    <ul>
      <li>Ruby on Rails</li>
      <li>Sketch / Figma</li>
      <li>Adobe Photoshop</li>
      <li>Adobe Illustrator</li>
      <li>Adobe InDesign</li>
      <li>HTML</li>
      <li>CSS</li>
      <li>Javascript</li>
    </ul>
  </div>
</div>

<div class="display-flex">
  <div class="padding-section bg-yellow half-width">
    <h2><span class="white">compétences.</span></h2>
    <div class="separator bg-white"></div>
    <div class="list">
      <ul>
        <li>UX / UI</li>
        <li>Design web</li>
        <li>Développement front-end</li>
        <li>Développement fullstack</li>
        <li>WordPress</li>
      </ul>
    </div>
  </div>
  <div class="padding-section bg-white half-width">
    <h2><span class="yellow">expériences.</span></h2>
    <div class="separator bg-black"></div>
    <div class="list">
      <ul>
        <li>2012 / 2018 - Chargée de création graphique (Métropole du Grand Nancy)</li>
        <li>2018 - Certification Concepteur d’application web (Le Wagon)</li>
        <li>depuis 2019 - Conceptrice d'application web freelance</li>
      </ul>
    </div>
  </div>
</div>

<div class="padding-section bg-black">
  <h2><span class="white">contact.</span></h2>
  <div class="separator bg-yellow"></div>
  <div class="list-inline">
    <ul>
      <li><a href="mailto:phi.berton@hotmail.fr" target="_blank">Mail</a></li>
      <li><a href="https://www.linkedin.com/in/philippineberton/" target="_blank">Linkedin</a></li>
      <li><a href="https://github.com/Ceriiise" target="_blank">Github</a></li>
    </ul>
  </div>
</div>
