---
title: Philippine Berton
---


<!-- home-me -->
<div class="container" id="bloc-me">
  <div class="profil">
    <div class="profil-hello">
      <h2>Bonjour</h2>
    </div>
    <div class="profil-desc text-center">
      <p>je suis Philippine</p>
      <p>une développeuse web freelance</p>
      <p>vivant à Nancy / Paris.</p>
    </div>
  </div>
</div>




<!-- skills -->
<div class="container d-flex justify-content-center" id="skills">
  <div class="row">

    <% data.skills.each do |skill| %>
      <div class="col-12 col-lg-4">
        <a href='<%= skill.id %>' class='skill-link'>
          <div class="skill text-center d-flex justify-content-center align-self-stretch flex-column">
            <img src= "<%= skill.img %>" alt="">
            <div class="skill-info">
              <h3><%= skill.name %></h3>
              <p><%= skill.text %></p>
            </div>
          </div>
        </a>
      </div>
    <% end %>

  </div>
</div>

<!-- projects -->
<% data.projects.each do |project| %>
  <div class="container projects" id='<%= project.id %>'>
    <div class="project-skill">
      <h2><%= project.skill %></h2>
    </div>

    <div class="description bg-white align-self-end">
      <div class="description-title">
        <h3><%= project.title %></h3>
      </div>
      <div class="description-info">
        <p><%= project.text %></p>
      </div>
    </div>

    <div class="project-link">
      <a href='<%= project.link %>' target="_blank">
        <img src='<%= project.img %>' alt="">
      </a>
    </div>

  </div>
<% end %>




<!-- contact -->
<div class="container">
  <div class="message" id="contact">
    <div class="message-one">
      <h2>Vous voulez</br>
      travailler</br>
      avec moi ?</h2>
    </div>
    <a href="mailto:phi.berton@hotmail.fr" class="message-two">
      <div class="text-center">
        <p>Envoyez-moi un mail, appelez-moi ou</p>
        <p>allons prendre un café pour parler</p>
        <p>de votre projet.</p>
      </div>
    </a>
  </div>
</div>


<div class="container">
  <div class="contact d-flex align-items-center justify-content-between">
    <div class="contact-details">
      <p>Philippine Berton</p>
      <p>phi.berton@hotmail.fr</p>
      <p>+33 (0)6 81 48 49 93</p>
    </div>
    <div class="contact-link">
      <a href="https://www.malt.fr/profile/philippineberton" target="_blank"><i class="icon-malt1"></i></a>
      <a href="https://github.com/Ceriiise" target="_blank"><i class="fab fa-github"></i></a>
      <a href="https://www.linkedin.com/in/philippineberton/" target="_blank"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
</div>

